################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BumpyDroids.VC.VC.opendb
/BumpyDroids.VC.db
/Release/YesNoDialog.obj
/Release/Xml.obj
/Release/VertexObject.obj
/Release/Vectors.obj
/Release/vc140.pdb
/Release/Utils.obj
/Release/Threads.obj
/Release/TextureLoader.obj
/Release/Text.obj
/Release/SysConfig.obj
/Release/SoundSystem.obj
/Release/SelectMenu.obj
/Release/SDLVideo.obj
/Release/Scrollbar.obj
/Release/RobotArmy.obj
/Release/Robot.obj
/Release/Player.obj
/Release/Particles2D.obj
/Release/OnScreenBoard.obj
/Release/OggStream.obj
/Release/MenuStruct.obj
/Release/MenuLoader.obj
/Release/Matrix.obj
/Release/mainer.obj
/Release/LevelMap.obj
/Release/LevelList.obj
/Release/Image.obj
/Release/HighScore.obj
/Release/FindPath.obj
/Release/externals.obj
/Release/Extensions.obj
/Release/CppSingleton.obj
/Release/Button.obj
/Release/BumpyRobots.tlog/unsuccessfulbuild
/Release/BumpyRobots.tlog/link.write.1.tlog
/Release/BumpyRobots.tlog/link.read.1.tlog
/Release/BumpyRobots.tlog/link.command.1.tlog
/Release/BumpyRobots.tlog/CL.write.1.tlog
/Release/BumpyRobots.tlog/CL.read.1.tlog
/Release/BumpyRobots.tlog/CL.command.1.tlog
/Release/BumpyRobots.tlog/BumpyRobots.lastbuildstate
/Release/BumpyDroids.log
/Release/BumpyRobots.pdb
/Release/BumpyRobots.ipdb
/Release/BumpyRobots.iobj
/Release/BumpyRobots.exe
